@charset "utf-8";

/* component */
.btn-m{height:45px;min-width:130px;padding:0 30px;}
.btn-l{height:60px;min-width:180px;padding:0 40px;}
.btn.mint{background:#199da3;}
.btn.gray{background: #757a85}

/* tab */
.tab-wrap{position:relative;}
.tablist-type1{width:100%;display:table;table-layout: fixed;border-bottom:2px solid #0770bb;margin-bottom:60px}
.tablist-type1 a{display:table-cell;text-align:center;height:60px;color:#000;font-size:18px}
.tablist-type1 a.active{position:relative;border-left:2px solid #0770bb;border-top:2px solid #0770bb;border-right:2px solid #0770bb;color:#0770bb;font-size:20px;font-family:'NotoKrR',sans-serif;border-radius:10px 0 0 0;}
.tablist-type1 a.active:after{content:'';display:block;height:2px;position:absolute;left:0;bottom:-2px;right:0;background:#fff;}

.tablist-type2:after{content:'';display:block;clear:both;}
.tablist-type2 a{float:left;padding:15px 20px;color:#777;font-size:18px;border-bottom:1px solid #ddd}
.tablist-type2 a.active{color:#0770bb;border-bottom:2px solid #0770bb;font-family:'NotoKrR',sans-serif;}


/* checkbox */
.checkbox{position:relative;display: inline-block;vertical-align: middle;margin-right:10px;}
.checkbox input[type=checkbox]{position:absolute;left:0;top:0;}
.checkbox label{display:inline-block;position:relative;padding-left:35px;min-width:25px;min-height:25px;line-height:25px;color:#777;}
.checkbox label:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:25px;height:25px;background:url('../img/icon_component.png') -40px 0px;cursor:pointer;z-index:10;}
.checkbox input[type=checkbox]:checked +label:before{background-position: -40px -40px;}
.checkbox input[type=checkbox]:disabled +label:before{background-position: -40px -80px;}
.checkbox input[type=checkbox]:disabled:checked +label:before{background-position: -40px -120px;}

/* checkbox-type2 */
.checkbox-type2{position:relative;display: inline-block;vertical-align: middle;margin-right:10px;}
.checkbox-type2 input[type=checkbox]{position:absolute;left:5px;top:5px;}
.checkbox-type2 label{display:inline-block;position:relative;padding-left:40px;min-width:30px;min-height:30px;line-height:30px;color:#777;}
.checkbox-type2 label:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:30px;height:30px;background:url('../img/icon_component.png') 0px 0px;cursor:pointer;z-index:10;}
.checkbox-type2 input[type=checkbox]:checked +label:before{background-position: 0px -40px;}
.checkbox-type2 input[type=checkbox]:disabled +label:before{background-position: 0px -80px;}
.checkbox-type2 input[type=checkbox]:disabled:checked +label:before{background-position: 0px -120px;}

/* radio */
.radio{position:relative;display: inline-block;vertical-align: middle;margin-right:10px;}
.radio input[type=radio]{position:absolute;left:3px;top:3px;}
.radio label{display:inline-block;position:relative;padding-left:35px;min-width:30px;min-height:30px;line-height:30px;color:#777;}
.radio label:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:25px;height:25px;background:#fff;cursor:pointer;border:1px solid #ddd;box-sizing:border-box;border-radius:25px;z-index:10;}
.radio input[type=radio]:checked +label:before{border:6px solid #199da3;}
.radio input[type=radio]:disabled +label:before{background: #eee;}

/* switch-radio */
.switch-wrap{position:relative;display:inline-block;vertical-align: middle}
.switch-button{display: inline-block;position: relative;float:left;}
.switch-button input[type=radio]{position: absolute;left:0;top:0;}
.switch-button label{position:relative;border:1px solid #199da3;text-align: center;display: inline-block;float:left;background: #fff;color:#199da3;font-size: 16px;height:40px;width:70px;line-height:40px;cursor: pointer}
.switch-button input[type=radio]:checked +label{background: #199da3;color:#fff;}
.switch-button input[type=radio]:disabled +label{background: #f8f8f8;color:#777;border-color:#eee;}
.switch-button:first-child label{border-radius:3px 0 0 3px}
.switch-button:last-child label{border-radius:0 3px 3px 0}

/* 문단 단위 */
.prg-wrap{border-top:1px solid #ddd;padding-top:40px;padding-bottom:78px;}
.prg-wrap:after{content:'';display: block;clear: both;}
.prg-wrap:first-child{border-top:none;}
.prg-wrap:last-child{padding-bottom:0;}
.prg-wrap .prg-left{float:left;}
.prg-wrap .prg-title{font-size:24px;color: #000;}
.prg-wrap .prg-right{float:right;width:84%;padding-left:20px;}
.prg-cont{line-height:24px;font-size:16px;color: #333;letter-spacing:-0.068em;}

.cont-text-type1{margin-bottom:30px;}

/* list-type */
.list-type1 {}
.list-type1 li{padding-left:10px;position: relative;margin-bottom:7px;}
.list-type1 li:before{content:'';display:inline-block;position:absolute;left:0;top:50%;margin-top:-1px;;width:3px;height:3px;background: url('../img/icon_list.png') left top no-repeat}

/* link-type1 */
.active-type1{color:#0770bb;border-bottom:1px solid #0770bb;}